@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Just+Another+Hand&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rum+Raisin&family=Russo+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --font-heading: "Rum Raisin", "sans-serif";
  --font-mono: "Source Code Pro", "monospace";
  --font-paragraph: "Noto Serif", "sans";
  /* --font-paragraph: "Inter", "sans"; */
  --font-game-logo: "Just Another Hand", "sans-serif";
  --font-russo: "Russo One", "sans-serif";

  /* Logo */
  --color-gradient-start: #ffffff;
  --color-gradient-end: #424242;

  /* Backgrounds */
  --color-app-bar: #131313;
  --color-base-container: #202020;
  --color-stroke-base-container: #a1a1a1;
  --color-home-arrow-container: #616161;

  /* Text */
  --color-heading: #eeeeee;
  --color-paragraph: #a1abb5;
  --color-emphasized-paragraph: #c14444;
  --color-emphasized-paragraph-hovered: #d86767;

  /* Brand Colors */
  --color-primary: #b31c1c;

  /* Status Colors */
  --color-status-good: #83e864;
  --color-status-bad: #c74e4e;
  --color-status-neutral: #d9b93a;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 92%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-family: var(--font-heading);
  text-wrap: balance;
}

code {
  font-family: var(--font-mono);
}

body {
  color: white;
  font-family: var(--font-paragraph);
}

.emphasized {
  color: var(--color-emphasized-paragraph);
  text-decoration: underline;
}

.emphasized.link:hover {
  color: var(--color-emphasized-paragraph-hovered);
}

.link {
  cursor: pointer;
  transition: color 0.3s ease;
}

.link:hover {
  color: white;
}

.font-game-logo {
  font-family: var(--font-game-logo);
}
