# root
.DS_Store
*.log
*.tmp
*.class
*.jar
*.war
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
build/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
!.vscode/extensions.json
out/
!**/src/main/**/out/
!**/src/test/**/out/

# gradle
.gradle/
server/.gradle/
server/build/
!gradle/wrapper/gradle-wrapper.jar
server/.kotlin

# kobweb
site/.kobweb/*
site/!.kobweb/conf.yaml

# kotlin
.kotlin

# deploy
deploy/

# logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# env
.env
client/.env
server/.env
